<ul>
  <li>Name: <input id="username" value={{user.name}}></input></li>
  <li>Phone: <input id="userphone" value={{user.phone}}></input></li>
  <li>Email: <input id="useremail" value={{user.email}}></input></li>
</ul>
<button id="patchuser">save</button>
