<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Door Server</title>
  <meta name="description" content="A door on the internet, like it always should have been.">
  <meta name="author" content="aaron@bkrn.org">

  <script type="text/javascript" src="public/lib/handlebars-v4.0.5.js"></script>
  <script type="text/javascript" src="public/lib/tinyxhr.js"></script>
  <script type="text/javascript" src="public/control.js"></script>

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body onload="Init();">
  <h1>Door Server Admin</h1>
  <div id="container"></div>
</body>
</html>
